.booklist-block {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-inline: 80px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box; 
}

@media screen and (max-width: 720px) {
    .booklist-block { 
        margin-inline: 8px;
    }
}

.book-shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-evenly;
    margin: 0px 0px 40px 0px;
}

