.basket-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    max-width: 1320px;
    width: 100%;
}

.basket-page > div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.basket-page__purchase-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background: #E9E9EA;
    border: 2px solid #616163;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #939395;
}

.basket-page__purchase-button_active {
    background-color: #BB3D96;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.basket-page__purchase-button_active:active {
    background: #7d2161;
    transform: translate(0em, 0.25em);
}

.basket-page__purchase-item {
    display: flex;
    flex-flow: row wrap;
    max-width: 1320px;
    width: 100%;
    min-height: 60px;
    left: 60px;
    top: 223px;
    border: 1px solid #01AAA7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #616163;
    justify-content: space-between;
    padding-inline: 20px;
    box-sizing: border-box;
    align-items: center;
}

.basket-page__book-name {
    width: 60%;
}

.basket-page__purchase-item > div:nth-child(n+2) {
    width: 10%;
    text-align: center;
}

.basket-page__total-amount {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #616163;
    display: flex;
    justify-content: right;
    align-self: flex-end;
}

.basket-page__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #939395;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}


@media screen and (max-width: 601px) {
     main {
        margin-right: 8px;
        margin-left: 8px;
    }

    .basket-page * {
        font-size: 16px;
    }

    .basket-page > svg {
        width: 200px;
        height: 200px;
    }

    .basket-page__purchase-button {
        height: 60px;
    }
}
