.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 2%; 
    margin-inline: 80px;
    gap:40px;
}

.login-page__login-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.login-page > svg {
    width: 160px;
    height: 160px;
}

label[for=username] {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #616163;    
}

.login-page__signin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-page__signin-form div:nth-child(1) {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #616163;
}

.login-page__signin-form div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[id=username] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border: 2px solid #939395;
    border-radius: 10px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #616163;
    box-sizing: border-box;
}

#username:focus {
    border:  #616163 solid 2px;
    color:#616163;
}

.login-page__login-block input::placeholder {
    color: #939395;
}

.login-page__login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    background: rgba(147, 147, 149, 0.2);
    border: 2px solid #616163;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #616163;
    cursor: pointer;
}

#username:valid + .login-page__login-button {
    background-color: #BB3D96;
    color: #FFFFFF;
    border: none;
}

#username:valid + .login-page__login-button:active {
    background: #7d2161;
    transform: translate(0em, 0.25em);
}

@media screen and (max-width: 321px) {
    /*  main {
        margin-right: 8px;
        margin-left: 8px;
    } */

    .login-page {
        margin-inline: 0;
    }

    .login-page > svg {
        width: 200px;
        height: 200px;
    }

    #username {
        width: 100%;
        height: 60px;
    }

    .login-page__login-button {
        width: 100%;
        height: 60px;
    }
}