@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

.screen {
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 100%;
    position: relative;
}

.screen > div {
    display: flex;
    
}

.component-block {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px; 
    justify-content: center;
}

/* @media screen and (width: 320px) {
    .component-block {
       margin-right: 8px;
       margin-left: 8px;
   }
} */